Forms/XSD/CarLabel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Kim Christensen (Dafolo A/S) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CarLabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CarModelDesc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TOURAN 2,0 140 DPF EXCLUSIV VA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarRegNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="JD47953"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarVIN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WVGZZZ1TZ8W086898"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Copies">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="HANS TORE LØNNHAUG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerPostalAddress">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RUSTADV 19"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerPostalCityZip">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RAUFOSS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CarLabel"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PageInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CarLabel.pdf"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocType"/>
				<xs:element ref="Country"/>
				<xs:element ref="LangCode"/>
				<xs:element ref="Copies"/>
				<xs:element ref="MediaControl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MediaControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputTargets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutputTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Preview"/>
				<xs:element ref="File"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CarRegNo"/>
				<xs:element ref="CarVIN"/>
				<xs:element ref="CarModelDesc"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="CustomerPostalAddress"/>
				<xs:element ref="CustomerPostalCityZip"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Preview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrintId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrintId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Test-Blokk"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
