Forms/XSD/Invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Kim Christensen (Dafolo A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MediaControl">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OutputTargets">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Print">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PrinterName" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="File">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FileName" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Preview">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ClientAddress" type="xs:string"/>
																<xs:element name="PrintId" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Archive">
														<xs:complexType>
															<xs:sequence/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Mail">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MailTo" type="xs:string"/>
																<xs:element name="MailFrom" type="xs:string"/>
																<xs:element name="MailCC" type="xs:string"/>
																<xs:element name="MailSubject" type="xs:string"/>
																<xs:element name="MailBody" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DocType" type="xs:string"/>
							<xs:element name="Country" type="xs:string"/>
							<xs:element name="LangCode" type="xs:string"/>
							<xs:element name="DocHeaderImpcode" type="xs:string"/>
							<xs:element name="DocHeaderProdType" type="xs:string"/>
							<xs:element name="DocHeaderBrand" type="xs:string"/>
							<xs:element name="InvoiceTitle" type="xs:string"/>
							<xs:element name="PreviewCode" type="xs:string"/>
							<xs:element name="Copies" type="xs:string"/>
							<xs:element name="TwoSided" type="xs:string"/>
							<xs:element name="LogoImage" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Document">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentHeader">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DateOfInvoice" type="xs:string"/>
										<xs:element name="InvoiceTypeText" type="xs:string"/>
										<xs:element name="InvoiceNo" type="xs:string"/>
										<xs:element name="ThroughputNo" type="xs:string"/>
										<xs:element name="Watermark" type="xs:string"/>
										<xs:element name="DealerNameMarketing" type="xs:string"/>
										<xs:element name="FooterA1" type="xs:string"/>
										<xs:element name="FooterA2" type="xs:string"/>
										<xs:element name="FooterA3" type="xs:string"/>
										<xs:element name="FooterA4" type="xs:string"/>
										<xs:element name="FooterA5" type="xs:string"/>
										<xs:element name="FooterA6" type="xs:string"/>
										<xs:element name="FooterB1" type="xs:string"/>
										<xs:element name="FooterB2" type="xs:string"/>
										<xs:element name="FooterB3" type="xs:string"/>
										<xs:element name="FooterB4" type="xs:string"/>
										<xs:element name="FooterB5" type="xs:string"/>
										<xs:element name="FooterB6" type="xs:string"/>
										<xs:element name="FooterC1" type="xs:string"/>
										<xs:element name="FooterC2" type="xs:string"/>
										<xs:element name="FooterC3" type="xs:string"/>
										<xs:element name="FooterC4" type="xs:string"/>
										<xs:element name="FooterC5" type="xs:string"/>
										<xs:element name="FooterC6" type="xs:string"/>
										<xs:element name="FooterD1" type="xs:string"/>
										<xs:element name="FooterD2" type="xs:string"/>
										<xs:element name="FooterD3" type="xs:string"/>
										<xs:element name="FooterD4" type="xs:string"/>
										<xs:element name="FooterD5" type="xs:string"/>
										<xs:element name="FooterD6" type="xs:string"/>
										<xs:element name="InvoiceCode" type="xs:string"/>
										<xs:element name="PaymentTermsCode" type="xs:string"/>
										<xs:element name="DiscountVisible" type="xs:string"/>
										<xs:element name="ForeignSaleCode" type="xs:string"/>
										<xs:element name="CreditNoRefInvoice" type="xs:string"/>
										<xs:element name="InvoiceSeries" type="xs:string"/>
										<xs:element name="ThroughputType" type="xs:string"/>
										<xs:element name="DateCreated" type="xs:string"/>
										<xs:element name="PriceType" type="xs:string"/>
										<xs:element name="TestLabel" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HeaderInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DealerNameLegal" type="xs:string"/>
										<xs:element name="DealerLegalAddressTotal" type="xs:string"/>
										<xs:element name="DealerIssueAddressTotal" type="xs:string"/>
										<xs:element name="DealerCompanyRegNo" type="xs:string"/>
										<xs:element name="VatPayerNo" type="xs:string"/>
										<xs:element name="BankName" type="xs:string"/>
										<xs:element name="BankAccEuro" type="xs:string"/>
										<xs:element name="BankAccLocal" type="xs:string"/>
										<xs:element name="SwiftCode" type="xs:string"/>
										<xs:element name="EconomicalTransType" type="xs:string"/>
										<xs:element name="CustomerLegalAddressTotal" type="xs:string"/>
										<xs:element name="CustomerLedgerNo" type="xs:string"/>
										<xs:element name="CustomerName" type="xs:string"/>
										<xs:element name="CustomerNameSign" type="xs:string"/>
										<xs:element name="CustomerPostalAddress" type="xs:string"/>
										<xs:element name="CustomerPostalCityZip" type="xs:string"/>
										<xs:element name="CustomerCountry" type="xs:string"/>
										<xs:element name="CustomerCompanyRegNo" type="xs:string"/>
										<xs:element name="CustomerVatPayer" type="xs:string"/>
										<xs:element name="DueDate" type="xs:string"/>
										<xs:element name="CarRegNo" type="xs:string"/>
										<xs:element name="CarRegDate" type="xs:string"/>
										<xs:element name="CarLocation" type="xs:string"/>
										<xs:element name="LocationPartsPrepicked" type="xs:string"/>
										<xs:element name="CarVIN" type="xs:string"/>
										<xs:element name="CarModelDesc" type="xs:string"/>
										<xs:element name="CarMileage" type="xs:string"/>
										<xs:element name="OwnerName" type="xs:string"/>
										<xs:element name="UserName" type="xs:string"/>
										<xs:element name="OurRef" type="xs:string"/>
										<xs:element name="YourRef" type="xs:string"/>
										<xs:element name="KidLine" type="xs:string"/>
										<xs:element name="EngineCode" type="xs:string"/>
										<xs:element name="GearCode" type="xs:string"/>
										<xs:element name="Color" type="xs:string"/>
										<xs:element name="CarType" type="xs:string"/>
										<xs:element name="ReasonForCreditLine" type="xs:string"/>
										<xs:element name="InsuranceNameRef" type="xs:string"/>
										<xs:element name="WarrentyRef" type="xs:string"/>
										<xs:element name="WarrentyRefLabel" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tasks">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Task" maxOccurs="30">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TaskDetail">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TaskTexts" maxOccurs="30">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="TaskText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TaskId" type="xs:string"/>
																<xs:element name="TaskName" type="xs:string"/>
																<xs:element name="PriceTotalTask" type="xs:string"/>
																<xs:element name="PriceVatTotalTask" type="xs:string"/>
																<xs:element name="PriceInfo" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Work" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="WorkPosNo" type="xs:string"/>
																<xs:element name="WorkPosText" type="xs:string"/>
																<xs:element name="WorkPosUnit" type="xs:string"/>
																<xs:element name="WorkPosHour" type="xs:string"/>
																<xs:element name="WorkPosPrice" type="xs:string"/>
																<xs:element name="PriceInfo" type="xs:string"/>
																<xs:element name="WorkPosDiscount" type="xs:string"/>
																<xs:element name="WorkPosAmount" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SparePart" maxOccurs="200">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SparePartNo" type="xs:string"/>
																<xs:element name="SparePartText" type="xs:string"/>
																<xs:element name="SparePartUnit" type="xs:string"/>
																<xs:element name="SparePartQuantity" type="xs:string"/>
																<xs:element name="SparePartPrice" type="xs:string"/>
																<xs:element name="PriceInfo" type="xs:string"/>
																<xs:element name="SparePartDiscount" type="xs:string"/>
																<xs:element name="SparePartAmount" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Material" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MaterialNo" type="xs:string"/>
																<xs:element name="MaterialText" type="xs:string"/>
																<xs:element name="MaterialUnit" type="xs:string"/>
																<xs:element name="MaterialQuantity" type="xs:string"/>
																<xs:element name="MaterialPrice" type="xs:string"/>
																<xs:element name="PriceInfo" type="xs:string"/>
																<xs:element name="MaterialDiscount" type="xs:string"/>
																<xs:element name="MaterialAmount" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Package" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PkgWork" maxOccurs="30">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="WorkPosNo" type="xs:string"/>
																			<xs:element name="WorkPosText" type="xs:string"/>
																			<xs:element name="WorkPosUnit" type="xs:string"/>
																			<xs:element name="WorkPosHour" type="xs:string"/>
																			<xs:element name="WorkPosPrice" type="xs:string"/>
																			<xs:element name="PriceInfo" type="xs:string"/>
																			<xs:element name="WorkPosDiscount" type="xs:string"/>
																			<xs:element name="WorkPosAmount" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PkgPart" maxOccurs="200">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="SparePartNo" type="xs:string"/>
																			<xs:element name="SparePartText" type="xs:string"/>
																			<xs:element name="SparePartUnit" type="xs:string"/>
																			<xs:element name="SparePartQuantity" type="xs:string"/>
																			<xs:element name="SparePartPrice" type="xs:string"/>
																			<xs:element name="PriceInfo" type="xs:string"/>
																			<xs:element name="SparePartDiscount" type="xs:string"/>
																			<xs:element name="SparePartAmount" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PkgMatr" maxOccurs="30">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="MaterialNo" type="xs:string"/>
																			<xs:element name="MaterialText" type="xs:string"/>
																			<xs:element name="MaterialUnit" type="xs:string"/>
																			<xs:element name="MaterialQuantity" type="xs:string"/>
																			<xs:element name="MaterialPrice" type="xs:string"/>
																			<xs:element name="PriceInfo" type="xs:string"/>
																			<xs:element name="MaterialDiscount" type="xs:string"/>
																			<xs:element name="MaterialAmount" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PackageName" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Total">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VatPercent" type="xs:string"/>
										<xs:element name="PriceTotalSum" type="xs:string"/>
										<xs:element name="VatAmount" type="xs:string"/>
										<xs:element name="PriceVatTotalSum" type="xs:string"/>
										<xs:element name="PriceRounding" type="xs:string"/>
										<xs:element name="VatAmountPrepayment" type="xs:string"/>
										<xs:element name="PrePaymentAmount" type="xs:string"/>
										<xs:element name="PriceVatTotalPrepayment" type="xs:string"/>
										<xs:element name="AmountToPay" type="xs:string"/>
										<xs:element name="VatAmountToPay" type="xs:string"/>
										<xs:element name="PriceVatTotalToPay" type="xs:string"/>
										<xs:element name="AmountInWords" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Insurance">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InsuranceVat" type="xs:string"/>
										<xs:element name="VatBasis" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="WorkPosTot">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WorkPosTotAmount" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SparePartTot">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SparePartTotAmount" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SumMaterial">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="MaterialTotAmount" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BottomTextMain">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BottomTextLines" maxOccurs="10">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BottomTextLine" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FooterLines">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FooterLine" maxOccurs="30">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FooterLines" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FooterLine" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="FooterLimitedLines">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FooterLimitedLine" maxOccurs="30">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FooterLimitedLine" type="xs:string" maxOccurs="10"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CarRemarks">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CarRemark" maxOccurs="30">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RemarkPriority" type="xs:string"/>
													<xs:element name="RemarkText" type="xs:string"/>
													<xs:element name="RemarkDate" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LastPageInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServiceAdvisor" type="xs:string"/>
										<xs:element name="AdvertText" type="xs:string" maxOccurs="10"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
