Forms/XSD/PlainList.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Vegard Bakke (eProcess Consulting AS) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="PlainList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Copies" type="xs:string"/>
	<xs:element name="Country" type="xs:string"/>
	<xs:element name="DealerNameMarketing" type="xs:string"/>
	<xs:element name="DocHeaderBrand" type="xs:string"/>
	<xs:element name="DocHeaderImpcode" type="xs:string"/>
	<xs:element name="DocHeaderProdType" type="xs:string"/>
	<xs:element name="DocType" type="xs:string"/>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentHeader">
					<xs:annotation>
						<xs:documentation>Tthe Footer is not in use</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Pages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentHeader">
		<xs:annotation>
			<xs:documentation>Not sure whether the Footer is in use?</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TestLabel"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName" type="xs:string"/>
	<xs:element name="FooterA1" type="xs:string"/>
	<xs:element name="FooterA2" type="xs:string"/>
	<xs:element name="FooterA3" type="xs:string"/>
	<xs:element name="FooterA4" type="xs:string"/>
	<xs:element name="FooterA5" type="xs:string"/>
	<xs:element name="FooterA6" type="xs:string"/>
	<xs:element name="FooterB1" type="xs:string"/>
	<xs:element name="FooterB2" type="xs:string"/>
	<xs:element name="FooterB3" type="xs:string"/>
	<xs:element name="FooterB4" type="xs:string"/>
	<xs:element name="FooterB5" type="xs:string"/>
	<xs:element name="FooterB6" type="xs:string"/>
	<xs:element name="FooterC1" type="xs:string"/>
	<xs:element name="FooterC2" type="xs:string"/>
	<xs:element name="FooterC3" type="xs:string"/>
	<xs:element name="FooterC4" type="xs:string"/>
	<xs:element name="FooterC5" type="xs:string"/>
	<xs:element name="FooterC6" type="xs:string"/>
	<xs:element name="FooterD1" type="xs:string"/>
	<xs:element name="FooterD2" type="xs:string"/>
	<xs:element name="FooterD3" type="xs:string"/>
	<xs:element name="FooterD4" type="xs:string"/>
	<xs:element name="FooterD5" type="xs:string"/>
	<xs:element name="FooterD6" type="xs:string"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MediaControl"/>
				<xs:element ref="DocType">
					<xs:annotation>
						<xs:documentation>PlainList</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="DocSubType"/>
				<xs:element ref="Country"/>
				<xs:element ref="LangCode"/>
				<xs:element ref="PreviewCode"/>
				<xs:element ref="Copies"/>
				<xs:element ref="TwoSided"/>
				<xs:element name="StdTray"/>
				<xs:element ref="LogoImage"/>
				<xs:element ref="Pyjamas"/>
				<xs:element name="SeparatorTray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangCode" type="xs:string"/>
	<xs:element name="LogoImage" type="xs:string"/>
	<xs:element name="MediaControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputTargets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutputToFile" type="xs:string"/>
	<xs:element name="PrinterType" type="xs:string"/>
	<xs:element name="PrinterName" type="xs:string"/>
	<xs:element name="OutputTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="File"/>
				<xs:element ref="Preview"/>
				<xs:element name="Print">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PrinterName"/>
							<xs:element ref="PrinterType"/>
							<xs:element ref="OutputToFile"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Archive">
					<xs:annotation>
						<xs:documentation>Should this have elements?</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PageDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageDetail" type="xs:string"/>
	<xs:element name="Pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeparatorPage" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Part1"/>
							<xs:element name="Part2"/>
							<xs:element name="Part3"/>
							<xs:element name="Timestamp"/>
							<xs:element name="SepPageDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SepPageDetail" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Page" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Preview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrintId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PreviewCode" type="xs:string"/>
	<xs:element name="PrintId" type="xs:string"/>
	<xs:element name="Pyjamas" type="xs:string">
		<xs:annotation>
			<xs:documentation>YES|NO</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TestLabel" type="xs:string"/>
	<xs:element name="TwoSided" type="xs:string"/>
	<xs:element name="DocSubType" type="xs:string">
		<xs:annotation>
			<xs:documentation>ListeL|ListeS|F2A|F2B|F2C</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Watermark" type="xs:string"/>
</xs:schema>
