Forms/XSD/RegistrationCard.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Kim Christensen (Dafolo A/S) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CarBrand" type="xs:string"/>
	<xs:element name="CarCode" type="xs:string"/>
	<xs:element name="CarModel" type="xs:string"/>
	<xs:element name="CarType" type="xs:string"/>
	<xs:element name="CarVIN" type="xs:string"/>
	<xs:element name="Color" type="xs:string"/>
	<xs:element name="Country" type="xs:string"/>
	<xs:element name="CustomsLocation" type="xs:string"/>
	<xs:element name="DealerCompanyRegNo" type="xs:string"/>
	<xs:element name="DealerName" type="xs:string"/>
	<xs:element name="DealerNo" type="xs:string"/>
	<xs:element name="DeclarationReference" type="xs:string"/>
	<xs:element name="DeclaredLine1" type="xs:string"/>
	<xs:element name="DeclaredLine2" type="xs:string"/>
	<xs:element name="DocType" type="xs:string"/>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PageInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EUApprovalNo" type="xs:string"/>
	<xs:element name="EkspeditionDate" type="xs:string"/>
	<xs:element name="EkspeditionNo" type="xs:string"/>
	<xs:element name="EkspeditionYear" type="xs:string"/>
	<xs:element name="ExhibitionText" type="xs:string"/>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName" type="xs:string"/>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocType"/>
				<xs:element ref="Country"/>
				<xs:element ref="LangCode"/>
				<xs:element name="ShowBackground" type="xs:string"/>
				<xs:element ref="MediaControl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ImporterName" type="xs:string"/>
	<xs:element name="LangCode" type="xs:string"/>
	<xs:element name="MediaControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputTargets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderNo" type="xs:string"/>
	<xs:element name="OutputTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Preview"/>
				<xs:element ref="File"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ImporterName"/>
				<xs:element ref="EUApprovalNo"/>
				<xs:element ref="CarBrand"/>
				<xs:element ref="CarCode"/>
				<xs:element ref="CarVIN"/>
				<xs:element ref="CarModel"/>
				<xs:element ref="CarType"/>
				<xs:element ref="DealerCompanyRegNo"/>
				<xs:element ref="DeclaredLine1"/>
				<xs:element ref="DeclaredLine2"/>
				<xs:element ref="EkspeditionDate"/>
				<xs:element ref="PrintedDate"/>
				<xs:element ref="CustomsLocation"/>
				<xs:element ref="EkspeditionNo"/>
				<xs:element ref="EkspeditionYear"/>
				<xs:element ref="Color"/>
				<xs:element ref="DealerName"/>
				<xs:element ref="DealerNo"/>
				<xs:element ref="DeclarationReference"/>
				<xs:element ref="ExhibitionText"/>
				<xs:element ref="OrderNo"/>
				<xs:element ref="VehicleGroupCode"/>
				<xs:element ref="VehicleGroupText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Preview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrintId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrintId" type="xs:string"/>
	<xs:element name="PrintedDate" type="xs:string"/>
	<xs:element name="RegistrationCard">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VehicleGroupCode" type="xs:string"/>
	<xs:element name="VehicleGroupText" type="xs:string"/>
</xs:schema>
