Forms/XSD/STD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Kim Christensen (Dafolo A/S) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Copies">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DealerNameMarketing">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Felgen Auto"/>
				<xs:enumeration value="MØLLER TEST VEST"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocHeaderBrand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocHeaderImpcode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocHeaderProdType">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="STD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentHeader"/>
				<xs:element ref="Pages" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="STD.pdf"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterA1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Felgen Auto AS"/>
				<xs:enumeration value="MØLLER TEST VEST AS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterA2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DRAMMENSVEIEN 145"/>
				<xs:enumeration value="Frysjaveien 31"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterA3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0411 Oslo"/>
				<xs:enumeration value="BOKS 6685 ETTERSTAD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterA5">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Volkswagen, Volkswagen Nytte, Audi, Skoda"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterA6">
		<xs:simpleType>
			<xs:restriction base="xs:QName">
				<xs:enumeration value="WWW.MOLLER:NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterB1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Felgen"/>
				<xs:enumeration value="TEST VEST"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterB4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Telefon 24033300"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterB5">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Homepage : www.moller.no"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterC1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kolonne 3, linje 1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterC2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Swift: 123456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterD1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Iban EU"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FooterD2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Swift EU"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocType"/>
				<xs:element ref="Country"/>
				<xs:element ref="LangCode"/>
				<xs:element ref="DocHeaderImpcode"/>
				<xs:element ref="DocHeaderProdType"/>
				<xs:element ref="Copies"/>
				<xs:element ref="TwoSided"/>
				<xs:element name="LogoImage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VW" type="xs:string"/>
							<xs:element name="Audi" type="xs:string"/>
							<xs:element name="AudiService" type="xs:string"/>
							<xs:element name="Skoda" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="MediaControl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LogoImage"/>
	<xs:element name="MediaControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputTargets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutputTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Preview"/>
				<xs:element ref="File"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Page">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PageDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageDetail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="                                                    SIDE  1"/>
				<xs:enumeration value="                                            BANKGIRO   6219.05.06970"/>
				<xs:enumeration value="                                            DRAMMENSVEIEN 145"/>
				<xs:enumeration value="                                            FRYSJAVEIEN 31"/>
				<xs:enumeration value="                                            HTTP://WWW.MOLLERBIL.NO/SKOYEN"/>
				<xs:enumeration value="                                            MØLLER BIL SKØYEN"/>
				<xs:enumeration value="                                            NO   928481638 MVA"/>
				<xs:enumeration value="   1900  FETSUND                            TLF  24032450  FAX 24032499"/>
				<xs:enumeration value="   BRÅTEHEN VEIEN 4 B                       "/>
				<xs:enumeration value="   BRÅTEHEN VEIEN 4 B                       0609  OSLO"/>
				<xs:enumeration value="   PRAVEENA NISHANTHAN                      "/>
				<xs:enumeration value="   PRAVEENA NISHANTHAN                      BOKS 6685, ETTERSTAD"/>
				<xs:enumeration value="-------------------------------------------        ORDRENUMMER      267413"/>
				<xs:enumeration value="--------------------------------------------------------------------------"/>
				<xs:enumeration value='20" 5-SEGMENTEIKERS DESIGN S L                          7.190,00'/>
				<xs:enumeration value="3-SONERS KLIMAANLEGG                                    6.950,00"/>
				<xs:enumeration value="391.807,20     97.951,80     210.241,00             700.000,00"/>
				<xs:enumeration value="8RB0M9                   WAUZZZ8R7CA059918 KUNDENUMMER     2002212"/>
				<xs:enumeration value="=========================================================================="/>
				<xs:enumeration value="ADAPTIV CRUISE CONTROL TEKNIKK                         12.220,00"/>
				<xs:enumeration value="AUTOMATISK AVBLENDBART INNV. S                          1.730,00"/>
				<xs:enumeration value="BANG &amp; OLUFSEN HØYT.SYSTEM TEK                          7.660,00"/>
				<xs:enumeration value="BEHOLDNINGSENDRING"/>
				<xs:enumeration value="BILTYPE                  CHASSISNR         MOTTATT DATO 31-01-2012"/>
				<xs:enumeration value="BLANKE SIDELISTER                                       1.930,00"/>
				<xs:enumeration value="BLUETOOTH-FORBEREDELSE                                  3.590,00"/>
				<xs:enumeration value="DE BLE EKSPEDERT AV CHRISTIAN REITAN"/>
				<xs:enumeration value="EKSTRA MØRKE RUTER                                      4.780,00"/>
				<xs:enumeration value="EL. FØRERSETE                                           4.610,00"/>
				<xs:enumeration value="EL. INNKLAPPBARE UTVENDIGE SPE                          2.690,00"/>
				<xs:enumeration value="ELEKTRISK BAKLUKE                                       5.870,00"/>
				<xs:enumeration value="ENGANGSAVGIFT                                         210.241,00 *"/>
				<xs:enumeration value="F A K T U R A                               FELGEN AUTO AS"/>
				<xs:enumeration value="F A K T U R A                               MØLLER TEST VEST AS"/>
				<xs:enumeration value="FAKTURADATO  31-01-2012"/>
				<xs:enumeration value="FAKTURANUMMER   9332349"/>
				<xs:enumeration value="FARGE   : FANTOMSORT                                              9.560,00"/>
				<xs:enumeration value="FJERNBETJENT KUPEVARMER                                17.000,00"/>
				<xs:enumeration value="FRAKT OG OMKOSTNINGER                                   9.900,00"/>
				<xs:enumeration value="FRI LÅNEBIL VED SERVICE                                     1,00"/>
				<xs:enumeration value="GR.LAG MVA  MVA BELØP 25%  *=AVGIFTSFRI SUM             TOTALT"/>
				<xs:enumeration value="INTERIØR: SORT-SØLV/SORT/SORT"/>
				<xs:enumeration value="LYS-/REGNSENSOR M/FJERNLYSASSI                          1.610,00"/>
				<xs:enumeration value="LYSPAKKE                                                2.270,00"/>
				<xs:enumeration value="MLF-SPORTSRATT S LINE                                   2.140,00"/>
				<xs:enumeration value="NAVI.PLUS KOMB NAVIGASJONSPAKK                         11.020,00"/>
				<xs:enumeration value="NAVIGASJONSPAKKE                                       18.900,00"/>
				<xs:enumeration value="PARKERINGSSYSTEM FORAN/BAK TEK                          4.540,00"/>
				<xs:enumeration value="PRISAVSLAG BIL                                                   42.701,00-"/>
				<xs:enumeration value="Q5 2,0 TDI 170 HK Q                              FORFALLSDATO 31-01-2012"/>
				<xs:enumeration value="Q5 2,0 TDI 170 HK Q                 2012                        319.959,00"/>
				<xs:enumeration value="S LINE EKSTERIØRPAKKE KOMB. S                          15.920,00"/>
				<xs:enumeration value="S LINE SPORTSPAKKE                                     35.900,00"/>
				<xs:enumeration value="SKINN/PERFORERT ALCANTARA S LI                          7.620,00"/>
				<xs:enumeration value="TEKNIKKPAKKE                                           16.900,00"/>
				<xs:enumeration value="TEKST                                                     RAB% BELØP M/MVA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocumentHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FooterA1"/>
				<xs:element ref="FooterA2"/>
				<xs:element ref="FooterA3"/>
				<xs:element ref="FooterA5"/>
				<xs:element ref="FooterA6"/>
				<xs:element ref="FooterB1"/>
				<xs:element ref="FooterB4"/>
				<xs:element ref="FooterB5"/>
				<xs:element ref="FooterC1"/>
				<xs:element ref="FooterC2"/>
				<xs:element ref="FooterD1"/>
				<xs:element ref="FooterD2"/>
				<xs:element ref="DealerNameMarketing"/>
				<xs:element ref="DocHeaderBrand"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SeparatorPage" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SepDescription" type="xs:string"/>
							<xs:element name="SepDealerName" type="xs:string"/>
							<xs:element name="SepDealerNo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Page" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Preview">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrintId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrintId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Test-Blokk"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TwoSided">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="no"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
