Forms/XSD/VehicleControl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Kim Christensen (Dafolo A/S) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CarBrakeSystem" type="xs:string"/>
	<xs:element name="CarBrand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VOLKSWAGEN"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarCode">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5750"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarFabricationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="6R"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarFuelTypeCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarGroup">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="101"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarMaxWeight">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1550"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarMileage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10691"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarModel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="POLO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarNoiseControl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="L"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarNoiseLevel">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="75"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarRPM">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="3500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarRegDate">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="20090831"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarRegNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SU78095"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarTowbar" type="xs:string"/>
	<xs:element name="CarVINShort">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="2112"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlBody">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="6600"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1813648163"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlNoPrevious">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlPeriod">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="201305"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ControlPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CtrlPoint_0_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_0_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_5" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_6" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_7" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_8" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_9" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_10" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_11" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_12" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_13" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_14" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_15" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_16" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_17" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_18" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_19" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_20" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_21" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_22" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_1_23" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_2_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlValue_1_2_1_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_2_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_1_2_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_2_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_2_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_2_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_2_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_3_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_3_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_3_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_5" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_6" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_7" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_8" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_9" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_10" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_11" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_12" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_13" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_4_14" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_5" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_6" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_7" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_8" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_5_9" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_5" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_6" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_7" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_8" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_9" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_10" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_11" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_12" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_6_13" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_5" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_6" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_7" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_8" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_7_9" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_8_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlValue_8_1_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_8_2" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlValue_8_2_1" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_8_3" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_8_4" type="xs:string" minOccurs="0"/>
				<xs:element name="CtrlPoint_9" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlPoints">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ControlPoint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SumCode1"/>
				<xs:element ref="SumCode2"/>
				<xs:element ref="SumCode3"/>
				<xs:element name="ControlMessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ControlType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Copies">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_0_1" type="xs:string"/>
	<xs:element name="CtrlPoint_0_2" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_1" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_10" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_11" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_12" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_13">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_14">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_15">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_16">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_17">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_18">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_19">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_2" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_20">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_21">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_22">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_23">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_3" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_1_5" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_6" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_7" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_8" type="xs:string"/>
	<xs:element name="CtrlPoint_1_1_9" type="xs:string"/>
	<xs:element name="CtrlPoint_1_2_1" type="xs:string"/>
	<xs:element name="CtrlPoint_1_2_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_1_2_3" type="xs:string"/>
	<xs:element name="CtrlPoint_2_1" type="xs:string"/>
	<xs:element name="CtrlPoint_2_2" type="xs:string"/>
	<xs:element name="CtrlPoint_2_3" type="xs:string"/>
	<xs:element name="CtrlPoint_2_4" type="xs:string"/>
	<xs:element name="CtrlPoint_3_1" type="xs:string"/>
	<xs:element name="CtrlPoint_3_2" type="xs:string"/>
	<xs:element name="CtrlPoint_3_3" type="xs:string"/>
	<xs:element name="CtrlPoint_4_1" type="xs:string"/>
	<xs:element name="CtrlPoint_4_10" type="xs:string"/>
	<xs:element name="CtrlPoint_4_11" type="xs:string"/>
	<xs:element name="CtrlPoint_4_12" type="xs:string"/>
	<xs:element name="CtrlPoint_4_13" type="xs:string"/>
	<xs:element name="CtrlPoint_4_14" type="xs:string"/>
	<xs:element name="CtrlPoint_4_2" type="xs:string"/>
	<xs:element name="CtrlPoint_4_3" type="xs:string"/>
	<xs:element name="CtrlPoint_4_4" type="xs:string"/>
	<xs:element name="CtrlPoint_4_5" type="xs:string"/>
	<xs:element name="CtrlPoint_4_6" type="xs:string"/>
	<xs:element name="CtrlPoint_4_7" type="xs:string"/>
	<xs:element name="CtrlPoint_4_8" type="xs:string"/>
	<xs:element name="CtrlPoint_4_9" type="xs:string"/>
	<xs:element name="CtrlPoint_5_1" type="xs:string"/>
	<xs:element name="CtrlPoint_5_2" type="xs:string"/>
	<xs:element name="CtrlPoint_5_3" type="xs:string"/>
	<xs:element name="CtrlPoint_5_4" type="xs:string"/>
	<xs:element name="CtrlPoint_5_5" type="xs:string"/>
	<xs:element name="CtrlPoint_5_6" type="xs:string"/>
	<xs:element name="CtrlPoint_5_7" type="xs:string"/>
	<xs:element name="CtrlPoint_5_8" type="xs:string"/>
	<xs:element name="CtrlPoint_5_9" type="xs:string"/>
	<xs:element name="CtrlPoint_6_1" type="xs:string"/>
	<xs:element name="CtrlPoint_6_10" type="xs:string"/>
	<xs:element name="CtrlPoint_6_11" type="xs:string"/>
	<xs:element name="CtrlPoint_6_12" type="xs:string"/>
	<xs:element name="CtrlPoint_6_13" type="xs:string"/>
	<xs:element name="CtrlPoint_6_2" type="xs:string"/>
	<xs:element name="CtrlPoint_6_3" type="xs:string"/>
	<xs:element name="CtrlPoint_6_4" type="xs:string"/>
	<xs:element name="CtrlPoint_6_5" type="xs:string"/>
	<xs:element name="CtrlPoint_6_6" type="xs:string"/>
	<xs:element name="CtrlPoint_6_7" type="xs:string"/>
	<xs:element name="CtrlPoint_6_8" type="xs:string"/>
	<xs:element name="CtrlPoint_6_9" type="xs:string"/>
	<xs:element name="CtrlPoint_7_1" type="xs:string"/>
	<xs:element name="CtrlPoint_7_2" type="xs:string"/>
	<xs:element name="CtrlPoint_7_3" type="xs:string"/>
	<xs:element name="CtrlPoint_7_4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_7_5">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlPoint_7_6" type="xs:string"/>
	<xs:element name="CtrlPoint_7_7" type="xs:string"/>
	<xs:element name="CtrlPoint_7_8" type="xs:string"/>
	<xs:element name="CtrlPoint_7_9" type="xs:string"/>
	<xs:element name="CtrlPoint_8_1" type="xs:string"/>
	<xs:element name="CtrlPoint_8_2" type="xs:string"/>
	<xs:element name="CtrlPoint_8_3" type="xs:string"/>
	<xs:element name="CtrlPoint_8_4" type="xs:string"/>
	<xs:element name="CtrlPoint_9" type="xs:string"/>
	<xs:element name="CtrlValue_1_2_1_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlValue_8_1_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CtrlValue_8_2_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ARNE CORNELIUSSEN"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DateCreated">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="20130404"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DateOfControl">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="20130404"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DateOfLastControl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="00021130"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DealerNameLegal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MØLLER BIL BERGEN AS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DealerNameMarketing">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Møller Bil Nesttun"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Defects" type="xs:string"/>
	<xs:element name="DocHeaderBrand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="I"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocOrigin">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="KLADD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VehicleControl"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentHeader"/>
				<xs:element ref="HeaderInfo"/>
				<xs:element ref="ControlPoints"/>
				<xs:element ref="ControlSummary"/>
				<xs:element name="Defects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Defect" maxOccurs="50">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DefectCtrlPoint" type="xs:string"/>
										<xs:element name="DefectDescription" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="MechanicInfo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocOrigin"/>
				<xs:element ref="DateCreated"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="File">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="VehicleControl.pdf"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FuelTypeText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bensin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocType"/>
				<xs:element ref="Country"/>
				<xs:element ref="LangCode"/>
				<xs:element ref="DocHeaderBrand"/>
				<xs:element ref="PreviewCode"/>
				<xs:element ref="Copies"/>
				<xs:element ref="TwoSided"/>
				<xs:element ref="LogoImage"/>
				<xs:element ref="MediaControl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HeaderInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DealerNameMarketing"/>
				<xs:element ref="DealerNameLegal"/>
				<xs:element ref="ControlBody"/>
				<xs:element ref="ReceiptNo"/>
				<xs:element ref="CustomerName"/>
				<xs:element ref="CarGroup"/>
				<xs:element ref="CarRegDate"/>
				<xs:element ref="CarVINShort"/>
				<xs:element ref="CarRegNo"/>
				<xs:element ref="CarMileage"/>
				<xs:element ref="CarBrakeSystem"/>
				<xs:element ref="CarTowbar"/>
				<xs:element ref="CarMaxWeight"/>
				<xs:element ref="CarFuelTypeCode"/>
				<xs:element ref="CarNoiseLevel"/>
				<xs:element ref="CarRPM"/>
				<xs:element ref="CarNoiseControl"/>
				<xs:element ref="ControlType"/>
				<xs:element ref="ControlNo"/>
				<xs:element ref="CarCode"/>
				<xs:element ref="CarBrand"/>
				<xs:element ref="MechanicInitials"/>
				<xs:element ref="DateOfControl"/>
				<xs:element ref="CarModel"/>
				<xs:element ref="CarFabricationType"/>
				<xs:element ref="ControlPeriod"/>
				<xs:element ref="ControlNoPrevious"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LangCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LogoImage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Logo"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MechanicInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateOfLastControl"/>
				<xs:element ref="FuelTypeText"/>
				<xs:element ref="NoiseLevel"/>
				<xs:element ref="NoiseLevelRpm"/>
				<xs:element ref="NoiseControl"/>
				<xs:element ref="RegisteredYear"/>
				<xs:element ref="Region"/>
				<xs:element ref="TireDimFront"/>
				<xs:element ref="TireDimRear"/>
				<xs:element ref="TireMaxLoadFront"/>
				<xs:element ref="TireMaxLoadRear"/>
				<xs:element ref="TireMaxSpeedFront"/>
				<xs:element ref="TireMaxSpeedRear"/>
				<xs:element ref="RimInchesFront"/>
				<xs:element ref="RimInchesRear"/>
				<xs:element ref="MinInpressFront"/>
				<xs:element ref="MinInpressRear"/>
				<xs:element ref="TireMaxTrackFront"/>
				<xs:element ref="TireMaxTrackRear"/>
				<xs:element ref="VehicleGroupText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MechanicInitials">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FSK"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MediaControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputTargets"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MinInpressFront">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0035"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MinInpressRear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0035"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NoiseControl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NoiseLevel">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="75"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NoiseLevelRpm">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="3500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutputTargets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Print"/>
				<xs:element ref="File"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PreviewCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="V"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Print">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PrinterName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrinterName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="\\M001D0SPM\S160VE01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReceiptNo" type="xs:string"/>
	<xs:element name="Region">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="39"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegisteredYear">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="2009"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RimInchesFront">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5JX14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RimInchesRear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5JX14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SumCode1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SumCode2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SumCode3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireDimFront">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="175/70R14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireDimRear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="175/70R14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireMaxLoadFront">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="78"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireMaxLoadRear">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="78"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireMaxSpeedFront">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="R"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireMaxSpeedRear" type="xs:string"/>
	<xs:element name="TireMaxTrackFront">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1463"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TireMaxTrackRear">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TwoSided">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VehicleControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Header"/>
				<xs:element ref="Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VehicleGroupText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Personbil,- unntatt ambulanse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
